<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<script>
function write(){
	location.href = "/qna/insert";
};

function login(){
	location.href = "/users/login";
};
</script>
<body style="margin-top: 200px; background-color: #FDF5E6">
<!-- Navbar -->
{% include 'head.html' %}
<!-- Navbar -->
<div class="container" style="width:95%; text-align: center">
<h1>Q&A</h1>
<div style="float: right; margin-right: 150px">
{% if request.session.user %}
<button class="btn btn-outline-dark" type="button" onclick = "write()">글쓰기</button>
{% else %}
<button class="btn btn-outline-dark" type="button" onclick = "login()">로그인</button>
{% endif %}
</div>
<br>
<table style="width: 95%" class="table">
	<tr>
		<th>번호</th><th>제목</th><th>작성자</th><th>작성일</th><th>조회수</th>
	</tr>
	{% if datas %}
	{% for d in datas %}
	<tr>
		<td>{{d.id}}</td>
		<td><a href="/qna/content?id={{d.id}}&page={{datas.number}}">{{d.title}}</a></td>
		<td>{{d.userId.id}}</td>
		<td>{{d.bdate.year}}.{{d.bdate.month}}.{{d.bdate.day}}</td>
		<td>{{d.readcnt}}</td>
	</tr>
	{% endfor %}
	<!-- 페이징 처리 -->
	<tr>
		<td colspan="6" style="text-align: center;">
		<nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if datas.has_previous %}
        <li class="page-item">
          <a class="page-link" href="/qna/list?page={{datas.previous_page_number}}"
            >Previous</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Previous</a>
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="#"
            >{{ datas.number }} / {{ datas.paginator.num_pages }}</a
          >
        </li>
        {% if datas.has_next %}
        <li class="page-item">
          <a class="page-link" href="/qna/list?page={{datas.next_page_number}}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
		</td>
	</tr>
	{% else %}
	<tr>
		<td colspan="5">등록된 글이 없어요</td>
	</tr>
	{% endif %}
	<tr>
	   <td colspan="6">
	      <div class="input-group" style="justify-content: center;">
			 <form action="/qna/search" method="post">{%csrf_token%}
			  <select class="form-select" style="display: inline;    width: auto;" id="inputGroupSelect04" name="s_type">
			    <option selected>Choose...</option>
			    <option value="title">글제목</option>
			    <option value="name">작성자</option>
			  </select>
			  	<input type="text" name="s_value" >
			  	<button class="btn btn-outline-secondary " type="submit">검색</button>
			  </form>
			</div>	
	   </td>
	</tr>
</table>

</div>
</body>
<!-- MDB -->
<script type="text/javascript" src="../static/js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="../static/js/script.js"></script>
</html>