<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js'></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
{{addr}}

<br />

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<canvas id = 'chart'>{{mean}}</canvas>
			
			<div id='ymd' style='display:None'>{{ymd}}</div>
		</div>
	</div>
</div>
<script>
let chart = document.getElementById('chart').getContext('2d');

var tdata = document.getElementById('chart').innerHTML;
var tdata = JSON.parse(tdata);


var ymd = document.getElementById('ymd').innerHTML;
var ymd = JSON.parse(ymd);


function graphs(tdata, ymd){
	
	let linechart = new Chart(chart, {
		type : 'line',
		data : {
			labels : ymd,
										  
			datasets : [{
				label : '월 평균 거래금액',
				backgroundColor : 'skyblue',
				borderWidth : 1,
				borderColor : 'black',
				data : tdata
	
			}]
		}
	})
}

graphs(tdata, ymd)
</script>

<p>최근 10년 거래 데이터</p>

{% if datas %}
	{{datas | safe}}
{% endif %}

</body>
</html>