<!DOCTYPE html>
<html>
<head>
	<style>
	/* font */
		* {
		 margin : 0; font-family: 'Noto Serif KR', serif;
		}
		body{
         padding-top: 40px 
      	}
	</style>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js'></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<header>
{% include 'head.html' %}
</header>
</head>

<body>
 <!-- Sidebar -->
<div class="container-fluid">
	<div class="row flex-xl-nowrap">
		<div class=" col-md-3">
		  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
		    <div class="position-sticky">
		      <div class="list-group list-group-flush mx-3" >
		      {{apt}}<input type="month" id="year" value="2022-01" min="2011-01" max="2026-12" /> &nbsp;&nbsp;
			  <button onclick="pred()">가격 예측 하기</button>
		      </div>
		    </div>
		  </nav>
	  	</div>
	
	  <!-- Sidebar -->
	<!-- 자료보내기-->
		<div id='gu' style='display:None'>{{gu}}</div>
		<div id='addr' style='display:None'>{{addr}}</div>
		
		<main class='col-md-9' style="margin-top:58px">
			<div class="container">
				<div class="pred"></div>
				<div class="row">
					<div class="col-md-10">
						<canvas id = 'chart'>{{mean}}</canvas>
						
						<div id='ymd' style='display:None'>{{ymd}}</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>


<script>
// graph 변수

let chart = document.getElementById('chart').getContext('2d');

var tdata = document.getElementById('chart').innerHTML;
var tdata = JSON.parse(tdata);


var ymd = document.getElementById('ymd').innerHTML;
var ymd = JSON.parse(ymd);

// graph ajax
function graphs(tdata, ymd){
	
	let linechart = new Chart(chart, {
		type : 'line',
		data : {
			labels : ymd,
										  
			datasets : [{
				label : '월 평균 거래금액',
				backgroundColor : 'skyblue',
				borderWidth : 1,
				borderColor : 'black',
				data : tdata
	
			}]
		}
	})
}

graphs(tdata, ymd)
// 예측 ajax
function pred(){
	  let send_data = {};
	  let year = document.getElementById("year").value;
	  let gu = document.getElementById("gu").innerHTML;
	  send_data['year'] = year;
	  send_data['gu']= gu;
	  send_data['addr']=document.getElementById("addr").innerHTML;
	  console.log(send_data);
	  
	  $(".pred").empty();
	  
	  
	  $.ajax({
	     url: "pred",
	     type:"post",
	     data:send_data,
	     dataType:"json",
	     success:function(data){
	     	//alert(data)
	     	$(".pred").append(data.new_val);
	     },
	  	error:function(){
	  		alert('1~ 10년만 입력 가능!')
	  	}
	  });
}

</script>
</body>
</html>