<!DOCTYPE html>
<html>
<head>
	<style>
	/* font */
		* {
		 margin : 0; font-family: 'Noto Serif KR', serif;
		}
		body{
         padding-top: 40px 
      	}
	</style>
<meta charset="UTF-8">
<title>집 값 예측</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js'></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
<header>
{% include 'head.html' %}
</header>
 <!-- Sidebar -->
<div class="container-fluid">
	<div class="row flex-xl-nowrap">
		<div class=" col-md-2">
			<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse col-md-2" style='background-color: #FDF5E6; border-right: 2px solid #FFCB9C'>
		    	<div class="position-sticky">
		      		<div class="list-group list-group-flush mx-3" >
		      			<div id='gu' style='display:None'>{{gu}}</div>
						<div id='addr' style='display:None'>{{addr}}</div>
						<div id='ymd' style='display:None'>{{ymd}}</div>
			      		{{apt}}<input type="month" id="year" value="2022-01" min="2011-01" max="2026-12" /> &nbsp;&nbsp;
				  		<button id="predbtn" onclick="pred()" style="border-color: #FFCB9C; background-color: #FFCB9C">가격 예측 하기</button>
				  		<br />
				  		<br />
				  		<table class="table">
				  			<thead>
						  		<tr>
						  			<th scope="col" colspan="2">{{apt}}</th>
						  		</tr>
				  			</thead>
						  	<tbody class="table-group-divider">
								<tr>
							    	<th scope="row">예측값</th>
							      	<td id=predPrice></td>				      
							   	</tr>
					    		<tr>
					      			<th scope="row">결정계수</th>
					      			<td id=r2></td>				      
					    		</tr>
				  		</table>
					</div>
		  		</div>
			</nav>
		</div>
		<!-- Sidebar -->
		<!-- 자료보내기-->
		
		<main class='col-md-10' style="margin-top:58px">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<canvas id = 'chart'>{{mean}}</canvas>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
<script type="text/javascript">
// graph 변수
//let chart = document.getElementById('chart').getContext('2d');
var ctx = document.getElementById('chart');

var tdata = document.getElementById('chart').innerHTML;
var tdata = JSON.parse(tdata);


var ymd = document.getElementById('ymd').innerHTML;
var ymd = JSON.parse(ymd);


/*
let linechart = new Chart(chart, {
	type : 'line',
	data : {
		labels : ymd,
									  
		datasets : [{
			label : '월 평균 거래금액',
			backgroundColor : '#FFCB9C',
			borderWidth : 2,
			borderColor : 'black',
			data : tdata

		}]
	}
})
*/

var config = {
	type: 'line',
	data: {
		labels: ymd,
		
		datasets: [{
			label: '월 평균 거래금액',
			backgroundColor: '#FFCB9C',
			borderWidth : 2,
			borderColor: 'black',
			data: tdata,
		}]
	}
};
 
//차트 그리기
var myChart = new Chart(ctx, config);


function pred(){
	let send_data = {};
	let year = document.getElementById("year").value;
	let gu = document.getElementById("gu").innerHTML;
	send_data['year'] = year;
	send_data['gu']= gu;
	send_data['addr']=document.getElementById("addr").innerHTML;
	send_data['mean']=document.getElementById("chart").innerHTML;
	send_data['ymd']=document.getElementById("ymd").innerHTML;
	
	
   	  
	$("#predPrice").empty();
	$("#r2").empty();
	

	$.ajax({
		url: "pred",
	    type:"post",
	    data:send_data,
	    dataType:"json",
	    success:function(data){
	    	const pred = data.predictL.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
	    	$("#predPrice").append(pred+' 만원');
	     	$("#r2").append(data.r2+'%');
	    			
	    	send_data['predict'] = data.predict;
	    	send_data['ymd2'] = data.ymd2;
	    	
	    	//for (let i = 0; i < tdata.length; i++) {
	    	//	tdata[i] = NaN;
	    	//}
	    	
	    	tdata = tdata.concat(send_data['predict']); // 기존 가격와 예측 가격 합치기
	    	
	    	//ymd2 = ymd.concat(send_data['ymd2']); // 기존 날짜와 예측 날짜 합치기
	    	ymd2 = send_data['ymd2']
	    		
	    	//라벨추가
	    	for (let i = 0; i < ymd2.length; i++) {
	    		config.data.labels.push(ymd2[i])
	    	}
	    		
	    	//데이터셋 수 만큼 반복
	    	//var dataset = config.data.datasets;
	    	//for(var i=0; i<dataset.length; i++){
	    	//	//데이터셋의 데이터 추가
	    	//	dataset[i].data.push(Math.floor(Math.random() * 50));
	    	//}
    		var newDataset = {
    			label: '예측 값',
    			borderColor : 'black',
    			backgroundColor : 'yellow',
	    		data: [],
	    	}
    		tdata3 = tdata
    		
    		// newDataset에 데이터 삽입
    		for (var i=0; i< tdata3.length; i++){
    			newDataset.data.push(tdata3[i]);
    		}
	    		
    		// chart에 newDataset 푸쉬
    		config.data.datasets.push(newDataset);

    		myChart.update();	//차트 업데이트   	
	     },
	     error:function(){
	    	 alert('1 ~ 5년만 입력 가능!')
	     }
	});
	
}


</script>
<!-- MDB -->
<script type="text/javascript" src="../static/js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>